[Unit]
Description=Tzstats exporter

[Service]
ExecStart=/usr/bin/python3 /opt/tzstats_exporter/exporter.py
Environment=hashes=mytzadress
Restart=on-failure

[Install]
WantedBy=default.target

